<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <% if (opt.stylesheet) { %>
    <link rel="stylesheet" href="<%= opt.stylesheet %>">
  <% } %>

  <title>
    <% if (opt.product && opt.product.name) { %>
      <%= opt.product.name %> |
    <% } %>
    Offers Notification
  </title>
</head>

<style>
  .card--offer {
    color: var(--text-muted);
    font-size: var(--font-size-sm);
  }
  .card--offer .offer__name {
    font-weight: bold;
  }
  .notification-product {
    width: 100%;
  }
  .product-body {
    max-width: 245px;
    padding: 16px 10px;
  }
  #offer_success {
    width: 100%;
    display: grid;
    place-content: center;
    gap: 1ch;
    min-height: 165px;
  }
</style>

<% if (opt.css) { %>
  <style>
    <%= opt.css %>
  </style>
<% } %>

<body style="overflow: hidden;">
  <%- body -%>

  <script>
    var enabledForm = true
    var $notificationProduct = document.getElementById('notification-product')
    var storeId = $notificationProduct.dataset.store_id
    var productId = $notificationProduct.dataset.product_id
    var criterias = $notificationProduct.dataset.criterias

    var getStorage = function () {
      var storage = window.localStorage.getItem('offers_notification')
      try {
        storage = JSON.parse(storage)
      } catch (err) {
        // ..
      }

      if (!Array.isArray(storage)) {
        return []
      }

      return storage
    }

    var setStorage = function (data) {
      const storage = getStorage()
      storage.push(data)
      return window.localStorage.setItem('offers_notification', JSON.stringify(storage))
    }

    var successMsg = function () {
      document.getElementById('offer_success').style.display = 'grid'
    }

    var disableBtn = function () {
      document.getElementById('offers-submit').disabled = false
    }

    var enableBtn = function () {
      document.getElementById('offers-submit').disabled = true
    }

    var storage = getStorage()
    for (var i = 0; i < storage.length; i++) {
      var product = storage[i]

      if (product.product_id === productId &&
        product.storeId === storeId &&
        product.criterias === criterias &&
        enabledForm) {
        successMsg()
        enabledForm = false
        break
      }
    }

    if (enabledForm) {
      document.getElementById('notification-form').style.display = 'block'
    }

    var errorMsg = function () {
      document.getElementById('offer_error').style.display = 'd-flex'
      document.getElementById('offer_success').style.display = 'none'
    }

    var hiddeForm = function () {
      document.getElementById('notification-form').style.display = 'none'
    }

    var validateEmail = function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    var onSubmit = function (token) {
      disableBtn()
      var data = {}
      let valid = true
      var $formControl = document.querySelectorAll('.form-control')
      $formControl.forEach(function($el, i) {
        if (!$el.value && $el.required && valid) {
          valid = false
          $el.focus()
        } else {
          data[$el.name] = $el.value
        }
      })

      if (!valid) {
        return enableBtn()
      }

      if (!data.customer_email || !validateEmail(data.customer_email)) {
        document.getElementById('input-email').focus()
        return enableBtn()
      }

      data.token = token

      fetch('https://us-central1-ecom-offers-notification.cloudfunctions.net/app/offers/notification', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Store-Id': storeId,
          'X-Google-Token': token
        },
        body: JSON.stringify(data)
      })
        .then(resp => {
          if (resp.status === 201) {
            successMsg()
            hiddeForm()
            var session = {
              product_id: data.product_id,
              storeId,
              criterias
            }

            setStorage(session)
            enableBtn()
          } else if (resp.status >= 400) {
            throw resp
          }
        })
        .catch(err => {
          enableBtn()
          console.error('Error', err)
        })
    }
  </script>
  <script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onloadCallback" async defer></script>
  <script>
    var sitekey = '<%= opt.recaptchKey %>'
    var onloadCallback = function() {
      grecaptcha.render('offers-submit', {
        'sitekey' : sitekey,
        'callback' : onSubmit
      });
    };
  </script>
</body>

</html>
